{% extends 'base.html.twig' %}
    {% block body %}
        {% if find %}
            <h1>Emps list</h1>
            <table class="table table-striped">
            <thead>
            <tr>
                <th>Id</th>
                <th>Fio</th>
                <th>Position</th>
                <th>Salary</th>
                <th>Date</th>
                <th>Chief</th>
                <th>Action</th>
            </tr>
            </thead>
            {% for res in find %}
                    <tbody id="res">
                    {# table body #}
                        <tr {% if loop.index is odd %}class="color"{% endif %}>
                            <td>{{ res.id }}</td>
                            <td>{{ res.fio }}</td>
                            <td>{{ res.name }}</td>
                            <td>{{ res.salary }}</td>
                            <td>{{ res.date | date('Y-m-d') }}</td>
                            <td>{{ res.parent }}</td>
                            <td>
                                <a class="btn btn-info" href="{{ path('employee_show', { 'id': res.id }) }}">show</a>
                                <a class="btn btn-warning" href="{{ path('employee_edit', { 'id': res.id }) }}">edit</a>
                            </td>
                        </tr>
            {% endfor %}
                    </tbody>
            </table>
            {% else %}
            No matches found...
        {% endif %}
    {% endblock %}